<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Maseeh 2070 Lights Controller</a>
    <ul class="nav navbar-nav">
      <li><a href="//dorm.jackserrino.com">3D Printer Control</a></li>
    </ul>
  	<div class="navbar-form navbar-right">
  		<a class="btn btn-success">Turn On Lights</a>
			<a class="btn btn-danger">Turn Off Lights</a>
		</div>
  </div>
</div>
<div class="container">
  <div class="text-center">
  	<div class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="dailyPasscode" class="col-sm-4 control-label">Control Passcode (Changes Daily):</label>
		    <div class="col-sm-8">
		      <input type="password" class="form-control" id="dailyPasscode" placeholder="Please Enter the Control Passcode">
		    </div>
		  </div>
		</div>
  </div>
  <hr />
  <h2>Manually Pick A Color...</h2>
  <div id="strip-picker" class="text-center">
  	<div id="radio-button" class="btn-group" data-toggle="buttons">
			<label class="btn btn-default">
		    <input type="radio" name="options" id="option1" autocomplete="off" checked>Left
		  </label>
		  <label class="btn btn-default active">
		    <input type="radio" name="options" id="option2" autocomplete="off">Both
		  </label>
		  <label class="btn btn-default">
		    <input type="radio" name="options" id="option3" autocomplete="off">Right
		  </label>
		</div>
  </div>
	<div class="container">
		<div class="container col-sm-6">
			<div class="pull-right" id="color-preview"></div>
		</div>
		<div class="container col-sm-6">
			<div class="pull-left" id="color-picker"></div>
		</div>
	</div>
	<hr />
  <h2>...Or Select A Theme</h2>
	<div id="theme-selector" class="container text-center">
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">Party</button>
			<button type="button" class="btn btn-default">Rave</button>
			<button type="button" class="btn btn-default">Seizure</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">Strobe</button>
			<button type="button" class="btn btn-default">Faster</button>
			<button type="button" class="btn btn-default">Fastest</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">Chill</button>
			<button type="button" class="btn btn-default">Relax</button>
			<button type="button" class="btn btn-default">Sleep</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">Love</button>
			<button type="button" class="btn btn-default">Loving</button>
			<button type="button" class="btn btn-default">Lust</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">Rainbow</button>
			<button type="button" class="btn btn-default">Double Rainbow</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">Video</button>
			<button type="button" class="btn btn-default">TV Show</button>
			<button type="button" class="btn btn-default">Movie</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">Studying</button>
			<button type="button" class="btn btn-default">All nighter</button>
			<button type="button" class="btn btn-default">Adderall</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">Drunk</button>
			<button type="button" class="btn btn-default">Wasted</button>
			<button type="button" class="btn btn-default">Blackout</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-default">High</button>
			<button type="button" class="btn btn-default">Blazed</button>
			<button type="button" class="btn btn-default">Gone</button>
		</div>
	</div>
	<hr />
	<small>Made With &#9829; by Jack Serrino 2015
</div>

