<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Maseeh 2070 Lights Controller</a>
    <ul class="nav navbar-nav">
      <li><a href="//dorm.jackserrino.com">3D Printer Control</a></li>
    </ul>
  	<div class="navbar-form navbar-right">
  		<a class="btn btn-success" id="turn-on-button">On</a>
			<a class="btn btn-danger" id="turn-off-button">Off</a>
		</div>
  </div>
</div>
<div class="container">
  <div class="text-center">
  	<div class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="dailyPasscode" class="col-sm-4 control-label">Control Passcode (Changes Daily):</label>
		    <div class="col-sm-8">
		      <input type="password" class="form-control" id="dailyPasscode" placeholder="Please Enter the Control Passcode">
		    </div>
		  </div>
		</div>
  </div>
  <hr />
  <h2>First, Pick a Strip</h2>
   <div id="strip-picker" class="text-center">
  	<div id="radio-button" class="btn-group" data-toggle="buttons">
			<label class="btn btn-default" data-value="l">
		    <input type="radio" name="options" id="option1" autocomplete="off">Left
		  </label>
		  <label class="btn btn-default active" data-value="rl">
		    <input type="radio" name="options" id="option2" autocomplete="off">Both
		  </label>
		  <label class="btn btn-default" data-value="r">
		    <input type="radio" name="options" id="option3" autocomplete="off">Right
		  </label>
		</div>
  </div>
  <hr />
  <h2>Then, Manually Pick A Color...</h2>
	<div class="container">
		<div class="container col-sm-6">
			<div class="pull-right" id="color-preview"></div>
		</div>
		<div class="container col-sm-6">
			<div class="pull-left" id="color-picker"></div>
		</div>
	</div>
	<hr />
  <h2>...Or Select A Theme</h2>
	<div id="theme-selector" class="container text-center">
		<button type="button" class="btn btn-default theme-button" data-theme="calm">Calm</button>
		<button type="button" class="btn btn-default theme-button" data-theme="mellow">Mellow</button>
		<button type="button" class="btn btn-default theme-button" data-theme="study">Study</button>
		<button type="button" class="btn btn-default theme-button" data-theme="movie1">Movie I</button>
		<button type="button" class="btn btn-default theme-button" data-theme="movie2">Movie II</button>
		<button type="button" class="btn btn-default theme-button" data-theme="party">Party</button>
		<button type="button" class="btn btn-default theme-button" data-theme="seizure1">Seizure I</button>
		<button type="button" class="btn btn-default theme-button" data-theme="seizure2">Seizure II</button>
	</div>
	<hr />
	<small>Made With &#9829; by Jack Serrino 2015
</div>

