<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/farbtastic.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/farbtastic.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/javascripts/main.js'></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
